<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ccc.chess.engines">
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="Chess Engines OEX"
        android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        <activity
            android:name="ccc.chess.engines.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Chess Engines OEX" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="intent.chess.provider.ENGINE" />
            </intent-filter>
            <meta-data
                android:name="chess.provider.engine.authority"
                android:value="ccc.chess.engines.MyEngineProvider" />
        </activity>

        <provider
            android:name="ccc.chess.engines.MyEngineProvider"
            android:authorities="ccc.chess.engines.MyEngineProvider"
            android:exported="true" />
    </application>

</manifest>